# ignore environment-related files
.tool-versions
.envrc

#random stuff
logs*
__*
.DS*
.idea/

# jupyter notebooks
*.ipynb_checkpoints*

# data
feature_store/
training_data/
model_artifacts/
model_cards/
